---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="site-category">
      <ul class='cat1'>
        <li><a href="/">Home</a></li>
        <li><a href="/Python">Python</a>
          <!-- <ul>
              <li><a href="/Python/Crawler">Crawler</a></li>
              <li><a href="/Python/Django">Django</a></li>
              <li><a href="/Python/Tensorflow">Tensorflow</a></li>
          </ul> -->
        </li>

        <li><a href="/DS">Data Science</a>
          <!-- <ul>
            <li><a href="/DS/ML">Machine Learning</a></li>
          </ul> -->
        </li>

        <li><a href="/DE">Development Enviroment</a>
          <!-- <ul>
              <li><a href="/DE/Github Blog">Github Blog</a></li>
              <li><a href="/DE/Git">Git</a></li>
              <li><a href="/DE/Docker">Docker</a></li>
              <li><a href="/DE/Ubuntu">Ubuntu</a></li>
              <li><a href="/DE/Java">Java</a></li>
          </ul> -->
        </li>

        <li><a href="/Retrospective">Retrospective</a></li>

      </ul>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>
